#images
items/*
converts/*
clans-logos/*
clans-avatar/*
photos/*
top20/*

Thumbs.db
.DS_Store
.DS_Store?
.idea/*
/nbproject
/ops/data/*

# temp or db files
*.dat
*.pid
*.json
*.tmp
*.log

#data
data/**/*.dat
data/**/*.tmp
data/**/*.user
data/**/*.log
data/**/*.lock
data/**/*.pid
data/**/*.msg